* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFF;
    color: #000;
}

h1 {
    font-size: 80px;
    font-family: "Unbounded";
}

p {
    font-size: 25;
    color: #fff;
}

span {
    color: #9747FF;
}